@import "../../global.scss";
@import "../../breakpoints.scss";

.projectWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .projectBackdrop {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: rgba(0,0,0, 0.3);
    }

    .projectBox {
        position: relative;
        display: flex;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 50%;
        width: 50%;
        overflow: hidden;
        background-color: $secondaryColor;
        box-shadow: 0 0 10px rgba(0,0,0, 0.3);
        z-index: 101;

        @include media('<=tablet') {
          width: 100%;
          height: 100%;
          flex-direction: column;
        }
    }
}
          
        
    

