@import "../../global.scss";

.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;

    @include mobile{
      font-size: 20px;
    }
  }

  .container{
    width: 100%;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    @media only screen and (max-width:700px){
        flex-wrap: nowrap;
        flex-direction: column;
    }
  


    .new{
      width: 50%;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      background-color: black;
      @media only screen and (max-width:700px){
          width: 100%;
      }
    
      .image{
      width: 100%;
      height: 100%;
      transition: all 0.4s;
      z-index: 1;
      &:hover{
          transform: scale(1.1);
          opacity: 0.2;
          z-index: 0;
        }
      }

      .title{
        position: absolute;
        top: 10%;
        left: 5%;
        color: #fff;
        font-size: 24px;
        font-weight: bolder;
        z-index: 2;
        @media only screen and (max-width:1270px){
            font-size: 20px;
        };
        @media only screen and (max-width:700px){
            font-size: 16px;
        };
      }
    }
  }
}
